<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Title</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
	        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
	        crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

	<script>
        <!--		일반적인 웹에서 자바스크립트 이벤트 사용 방법은 크게 2가지 -->
        // 1. inline 방식 : 이벤트를 발생 시킬 html 태그에 이벤트 속성에 자바스크립트 코드를 입력하여 이벤트를 처리
        // 2. eventListener 방식 : 이벤트를 발생 시킬 html 태그의 id 혹은 class명으로 html 태그를 검색하고 html 문서의 eventListener 에 특정 이벤트를 등록하여 이벤트를 처리, eventListener 방식을 선호함

        function clickEvent(){
            alert('클릭!!');
        }

        window.addEventListener("DOMContentLoaded", function (){
           let btn2 = document.querySelector("#btn2");
           btn2.addEventListener("click", function() {
               alert('클릭!!');
           });
        });

        $(document).ready(function () {
			$("#btn3").on("click", function(){
               alert('클릭!!!');
			});
        });
	</script>
</head>
<body>
<div class="container mt-5">
	<button type="button" class="btn btn-primary" onclick="alert('클릭!!');">클릭 이벤트 1</button>
	<button type="button" class="btn btn-primary" onclick="clickEvent()">클릭 이벤트 1-2</button>
	<button type="button" class="btn btn-primary" id="btn2">클릭 이벤트 2</button>
	<button type="button" class="btn btn-primary" id="btn3">클릭 이벤트 3</button>
</div>
</body>
</html>